body{margin:0px;padding:0px;font-family:'微软雅黑';}
#order_field{width:100%;}
#order_top_index{width:100%;height:36px;background-color:#ddd;}
#order_top_index a{text-decoration:none;display:block;width:120px;height:30px;float:left;font-size:13px;line-height:30px;vertical-align:middle;text-align:center;margin-left:10px;margin-top:3px;color:#333;}
#order_ctnt_field{width:100%;font-size:13px;}
#order_ctnt_list{margin:40px;margin-top:24px;background-color:#F0F5F8;font-size:13px;}
.list_outline{margin-left:-1px;margin-top:-1px;width:100%;padding-top:10px;padding-bottom:10px;border:1px solid #ddd;color:#666;font-size:13px;}

.order_ctnt_list_item{width:100%;height:24px;margin-top:-1px;margin-left:-1px;border:1px solid #ddd;color:#666;font-size:13px;}
.order_ctnt_list_item_1{width:100%;margin-left:0px;color:#666;font-size:13px;}

.order_ctnt_list_item_top_1{float:left;height:100%;width:144px;line-height:24px;vertical-align:middle;text-align:center;}
.order_ctnt_list_item_top_2{float:left;height:100%;width:362px;line-height:24px;vertical-align:middle;text-align:center;}
.order_ctnt_list_item_top_3{float:left;height:100%;width:159px;line-height:24px;vertical-align:middle;text-align:center;}
.order_ctnt_list_item_top_4{float:left;height:100%;width:117px;line-height:24px;vertical-align:middle;text-align:center;}
.order_ctnt_list_item_top_5{float:left;height:100%;width:117px;line-height:24px;vertical-align:middle;text-align:center;}

.order_ctnt_list_item_clm_1{width:124px;line-height:24px;vertical-align:middle;text-align:center;}
.order_ctnt_list_item_clm_2{width:310px;line-height:24px;vertical-align:middle;text-align:left;}
.order_ctnt_list_item_clm_3{width:136px;line-height:24px;vertical-align:middle;text-align:center;}
.order_ctnt_list_item_clm_4{width:100px;line-height:24px;vertical-align:middle;text-align:center;}
.order_ctnt_list_item_clm_5{width:100px;line-height:24px;vertical-align:middle;text-align:center;}
