/*-----------------------公共样式--------------------------*/
body{padding: 0; margin: 0;color: #3c3c3c;}
body, button, input, select, textarea {font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;}
body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul { margin: 0; padding: 0;}
a{ display: inline-block; color:rgb(108,108,108);}
a.black_orange:link, A.black_orange:visited { color: #000000; TEXT-DECORATION: none; }
a.black_orange:hover, a.black_orange:active{ COLOR: #ff7f24; text-decoration: none; }
a.gray_orange:link, A.gray_orange:visited { color: rgb(108,108,108); TEXT-DECORATION: none; }
a.gray_orange:hover, a.gray_orange:active{ COLOR: #ff7f24; text-decoration: none; }
div{text-align:center;}
.huawenhupo{font-family: "STHupo",Georgia,Serif;} /*华文琥珀*/
.weiruanyahei{font-family: "Microsoft YaHei",Georgia,Serif;}/*微软雅黑*/
.linkfont{font-family:tahoma, arial, 'Hiragino Sans GB', 宋体, sans-serif;}
p{position:absolute;bottom:0px;padding:0px;margin:0px;}/*用于调节元素位置*/
p.align-left{left:0px;}
p.align-right{right:0px;}
p.align-top{top:0px;}
p.align-bottom{bottom:0px;}
ul {text-align: left;}
li{ display:inline-block;}
li a:link, li a:visited { color: rgb(108,108,108); TEXT-DECORATION: none; }
li a:hover, li a:active{ COLOR: #ff7f24; text-decoration: none; }
a.mailbox{ background-image:url(../img/mailbox_icon333.png); width:15px;  height:30px; display:inline-block; background-repeat: no-repeat; background-position:center;  }
/* 桔黄色 : #ff7f24 ;*/

/*-----------------------导航链接--------------------------*/
div.nav{
position: fixed;
top: 0;
z-index: 10000;
width:100%;
height:30px;
background: #f5f5f5;
border-bottom: 1px solid #ddd;
}
div.nav div.nav_middle_part{
margin:auto auto;
width: 980px;
height:100%;

}

div.nav div.nav_middle_part div.nav_inner_left{
float:left;
width:500px;
height:100%;
}

div.nav div.nav_middle_part div.nav_inner_right{
float:right;
width:300px;
height:100%;
}


div.nav div.nav_middle_part div.nav_inner_left ul{
display: block;
height:30px;
float: left;
list-style: none;
list-style-type: disc;

}

div.nav div.nav_middle_part div.nav_inner_right ul{
display: block;
height:30px;
float: right;
list-style: none;
list-style-type: disc;
}

div.nav div.nav_middle_part div.nav_inner_left ul li, div.nav div.nav_middle_part div.nav_inner_right ul li{
display: inline-block;
height:30px;
line-height: 30px;
color:rgb(108,108,108);
}

div.nav div.nav_middle_part div.nav_inner_left ul li.blank{
width:10px;
}
/* 使用 blank填充空白， 用法如下
<li class="blank">&nbsp;</li>
*/




div.nav div.nav_middle_part div.nav_inner_left ul a.orange{
color:#EE7600;
font-weight:bolder;
font-size:13px;
}

div.nav div.nav_middle_part div.nav_inner_left ul a.underline{
TEXT-DECORATION: underline;
font-size:12px;
font-weight:normal;
}

